<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        padding: 2%;
    }
    main p span {
        font-size: 1.5rem;
    }
    .container {
        width: 40%;
    }
    .myClass {
        color: rgb(16, 75, 10); width:200px;
        width: 20%;
    }
      
    .myClass option { 
        background: #28a745;
        color:white;
    } 
</style>
<body>
    <main class="p-2">
        <p class="text-right"><a href="/authors"><u>Go to Authors</u></a></p>
        <p class="text-right"><a href="/books"><u>Go to Books</u></a></p>
        <h1> {{ author.first_name }} {{ author.last_name }}</h1>
        <h3>ID: {{ author.id }} </h3>
        <p><span>Notes: </span>{{ author.notes }}</p>
        <h3>Books</h3>
        <ol>
            {%for book in author.books.all%}
            <li>{{ book.title }}</li>
            {%endfor%}
        </ol>
        <form action="/books/{{author.id}}/add_book_to_author" method="post">
            {% csrf_token %}
            <select name="add_book_to_author" class="selectpicker myClass show-tick dropup" data-dropupAuto="true" data-container="#mainContainer" id="myControl"  data-width="90%">
                <option selected>Select book to add</option>
                {%for book in all_books%}
                    {%if book not in author.books.all%} 
                <option value="{{book.id}}">{{book.title}}</option>
                    {%endif%}
                {%endfor%}
            </select>
            <button class="btn btn-outline-success btn-sm">Add Book to {{author.first_name}} {{ author.last_name }}</button>
        </form>
    
</body>
</html>